## pipeline chain output of one step to input of another step

## without pipeline project

# Titanic without using pipeline

In [126]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
from matplotlib import pyplot as plt 
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer

In [127]:
df=pd.read_csv(r"https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day29-sklearn-pipelines/train.csv")

In [128]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [129]:
df.drop(columns=['PassengerId','Name','Ticket',"Cabin"],inplace = True)

### Train test-split Date

In [130]:
x_train,x_test,y_train,y_test=train_test_split(df.drop(columns="Survived",axis=1),df["Survived"],test_size=0.2,random_state=42)

In [131]:
x_train

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
331       1    male  45.5      0      0   28.5000        S
733       2    male  23.0      0      0   13.0000        S
382       3    male  32.0      0      0    7.9250        S
704       3    male  26.0      1      0    7.8542        S
813       3  female   6.0      4      2   31.2750        S
..      ...     ...   ...    ...    ...       ...      ...
106       3  female  21.0      0      0    7.6500        S
270       1    male   NaN      0      0   31.0000        S
860       3    male  41.0      2      0   14.1083        S
435       1  female  14.0      1      2  120.0000        S
102       1    male  21.0      0      1   77.2875        S

[712 rows x 7 columns]

In [132]:
df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [133]:
## simpleImputer on Age column

In [134]:
si_age=SimpleImputer()
si_embarked=SimpleImputer(strategy='most_frequent')

In [135]:
x_train_age=si_age.fit_transform(x_train[["Age"]])
x_train_embarked=si_embarked.fit_transform(x_train[["Embarked"]])

x_test_age=si_age.fit_transform(x_test[["Age"]])
x_test_embarked=si_embarked.fit_transform(x_test[['Embarked']])

In [136]:
x_train

     Pclass     Sex   Age  SibSp  Parch      Fare Embarked
331       1    male  45.5      0      0   28.5000        S
733       2    male  23.0      0      0   13.0000        S
382       3    male  32.0      0      0    7.9250        S
704       3    male  26.0      1      0    7.8542        S
813       3  female   6.0      4      2   31.2750        S
..      ...     ...   ...    ...    ...       ...      ...
106       3  female  21.0      0      0    7.6500        S
270       1    male   NaN      0      0   31.0000        S
860       3    male  41.0      2      0   14.1083        S
435       1  female  14.0      1      2  120.0000        S
102       1    male  21.0      0      1   77.2875        S

[712 rows x 7 columns]

In [137]:
x_train_remain=x_train.drop(columns=["Age","Sex","Embarked"],axis=1).values
x_test_remain=x_test.drop(columns=["Age","Sex","Embarked"],axis=1).values

In [138]:
x_train_remain
## age column are filled with mean 
## embarked column are filled with most frequent

array([[  1.    ,   0.    ,   0.    ,  28.5   ],
       [  2.    ,   0.    ,   0.    ,  13.    ],
       [  3.    ,   0.    ,   0.    ,   7.925 ],
       ...,
       [  3.    ,   2.    ,   0.    ,  14.1083],
       [  1.    ,   1.    ,   2.    , 120.    ],
       [  1.    ,   0.    ,   1.    ,  77.2875]])

In [139]:
## now no null value left for dataframe
### required column in 
### x_train_age
### x_train_embarked

In [140]:
x_train.sample()

     Pclass   Sex  Age  SibSp  Parch     Fare Embarked
445       1  male  4.0      0      2  81.8583        S

In [141]:
## one hot encoder on Embarked and Sex
ohe=OneHotEncoder(sparse=False,drop="first",handle_unknown="ignore")

In [142]:
ohe.fit_transform(x_train[["Sex"]])
x_train_sex=ohe.transform(x_train[["Sex"]])
x_test_sex=ohe.transform(x_test[["Sex"]])

In [143]:
ohe.fit_transform(x_train_embarked)
x_train_embarked_ohe=ohe.transform(x_train_embarked)
x_test_embarked_ohe=ohe.transform(x_test_embarked)

In [144]:
x_train_embarked_ohe.shape

(712, 2)

In [145]:
x_train_transformed=np.concatenate((x_train_remain,x_train_age,x_train_sex,x_train_embarked_ohe),axis=1)
x_test_transformed=np.concatenate((x_test_remain,x_test_age,x_test_sex,x_test_embarked_ohe),axis=1)

In [146]:
print("train data shape {} ,test data shape {}".format(x_train_transformed.shape,x_test_transformed.shape))

train data shape (712, 8) ,test data shape (179, 8)

In [147]:
from sklearn.tree import DecisionTreeClassifier

In [148]:
clf=DecisionTreeClassifier()

In [149]:
clf.fit(x_train_transformed,y_train)

DecisionTreeClassifier()

In [150]:
y_pred=clf.predict(x_test_transformed)

In [151]:
y_pred

array([0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 1], dtype=int64)

In [152]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.7653631284916201

## this is the concept without pipeline  end

## this is using pipeline

In [153]:
import numpy as np 
import pandas as pd

In [174]:
from sklearn.pipeline import Pipeline,make_pipeline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import MinMaxScaler,StandardScaler
from sklearn.feature_selection import SelectKBest,chi2

In [155]:
df=pd.read_csv(r"https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day29-sklearn-pipelines/train.csv")

In [156]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## missing values--> one Hot encoding -->Scaling-->Feature Selection-->modelTrain

In [157]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [158]:
df.sample()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
461,462,0,3,"Morley, Mr. William",male,34.0,0,0,364506,8.05,NaN,S

In [159]:
df.drop(columns=["PassengerId","Name","Ticket","Cabin"],axis=1,inplace=True)

In [160]:
df.sample()

   Survived  Pclass   Sex   Age  SibSp  Parch  Fare Embarked
4         0       3  male  35.0      0      0  8.05        S

In [161]:
## train_test_split Data

In [354]:
x_train,x_test,y_train,y_test=train_test_split(df.drop(columns="Survived"),df["Survived"],test_size=0.2,random_state=42)

In [355]:
x_train.sample()

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
194       1  female  44.0      0      0  27.7208        C

In [356]:
x_train.sample()

     Pclass   Sex   Age  SibSp  Parch     Fare Embarked
515       1  male  47.0      0      0  34.0208        S

In [357]:
## Missing values

In [358]:
trf1=ColumnTransformer([('impute_age',SimpleImputer(),[2]),
                        ('impute_embarked',SimpleImputer(strategy="most_frequent"),[6])
                       ],remainder="passthrough")

In [359]:
dummies=["Sex","Embarked"]

In [360]:
# one hot encoding 
trf2=ColumnTransformer([('Ohe_sex_embarked',OneHotEncoder(drop='first',sparse=False,dtype=np.int32),[1,6])],remainder="passthrough")

In [361]:
len(x_train.columns)

7

In [362]:
## scaling 
trf3=ColumnTransformer([("scaling_df",MinMaxScaler(),slice(0,8))],remainder="passthrough")

In [363]:
## feature Selection 
trf4=SelectKBest(score_func=chi2,k=8)

In [364]:
trf5=DecisionTreeClassifier()

# Create pipeline

In [365]:
pipe=Pipeline([
    ('trf1',trf1),
    ('trf2',trf2),
    ('trf3',trf3),
    ('trf4',trf4),
    ('trf5',trf5)
])

In [366]:
## we can us pipeline or make pipeline 
## also same with columntransformer or make column transformer

In [367]:
pipe.fit(x_train,y_train)

ValueError: could not convert string to float: 'male'