## bining and binarization

## types of bining 
### Equal width bining (like histogram )
### Equal quartile bining (uses quartile to encoding)
### k means bining (uses k means clustering techniques)

In [20]:
import pandas as pd
import numpy as np 
from matplotlib import pyplot as plt 

import seaborn as sns 
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier 

from sklearn.compose import ColumnTransformer

from sklearn.preprocessing import KBinsDiscretizer
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [5]:
df=pd.read_csv(r"https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day32-binning-and-binarization/train.csv",usecols=["Age","Fare","Survived"])

In [6]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [7]:
df.dropna(inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  714 non-null    int64
 1   Age       714 non-null    float64
 2   Fare      714 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 22.3 KB

In [10]:
df.shape

(714, 3)

In [11]:
df

     Survived   Age     Fare
0           0  22.0   7.2500
1           1  38.0  71.2833
2           1  26.0   7.9250
3           1  35.0  53.1000
4           0  35.0   8.0500
..        ...   ...      ...
885         0  39.0  29.1250
886         0  27.0  13.0000
887         1  19.0  30.0000
889         1  26.0  30.0000
890         0  32.0   7.7500

[714 rows x 3 columns]

In [13]:
x=df.iloc[:,1:3]
y=df.iloc[:,0]

In [17]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [18]:
clf=DecisionTreeClassifier()

In [19]:
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)

In [21]:
accuracy_score(y_test,y_pred)

0.6363636363636364

In [22]:
np.mean(cross_val_score(DecisionTreeClassifier(),x,y,cv=10,scoring="accuracy"))

0.6261150234741784

In [41]:
kbin_age=KBinsDiscretizer(n_bins=15,encode="ordinal",strategy="quantile")
kbin_fare=KBinsDiscretizer(n_bins=15,encode="ordinal",strategy="quantile")

In [42]:
trf=ColumnTransformer([("first",kbin_age,[0]),("second",kbin_fare,[1])],remainder="passthrough")

In [43]:
x_train_trf=trf.fit_transform(x_train)
x_test_trf=trf.transform(x_test)

In [44]:
trf.named_transformers_["first"].bin_edges_

array([array([ 0.42,  6.  , 16.  , 19.  , 21.  , 23.  , 25.  , 28.  , 30.  ,
              32.  , 35.  , 38.  , 42.  , 47.  , 54.  , 80.  ])             ],
      dtype=object)

In [45]:
## this is how transformer is used

In [49]:
clf=DecisionTreeClassifier()
clf.fit(x_train_trf,y_train)
y_pred=clf.predict(x_test_trf)

accuracy_score(y_test,y_pred)

0.6363636363636364

In [50]:
x_trf=trf.fit_transform(x)
np.mean(cross_val_score(DecisionTreeClassifier(),x_trf,y,cv=10,scoring="accuracy"))

0.6723004694835681

In [ ]:
## this is how bining is done to convert numv