In [105]:
import pandas as pd
import sklearn as sns 
import matplotlib.pyplot as plt 
import numpy as np 
import math 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
df=pd.read_csv(r"C:\Users\cchap\OneDrive\Desktop\GOOGL.csv")
df.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-08-19  50.050049  52.082081  48.028027  50.220219  50.220219  44659096
1  2004-08-20  50.555557  54.594597  50.300301  54.209209  54.209209  22834343
2  2004-08-23  55.430431  56.796799  54.579578  54.754753  54.754753  18256126
3  2004-08-24  55.675674  55.855858  51.836838  52.487488  52.487488  15247337
4  2004-08-25  52.532532  54.054054  51.991993  53.053055  53.053055   9188602

In [3]:
df.shape

(4431, 7)

In [5]:
df.head(11)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2004-08-19,50.050049,52.082081,48.028027,50.220219,50.220219,44659096
1,2004-08-20,50.555557,54.594597,50.300301,54.209209,54.209209,22834343
2,2004-08-23,55.430431,56.796799,54.579578,54.754753,54.754753,18256126
3,2004-08-24,55.675674,55.855858,51.836838,52.487488,52.487488,15247337
4,2004-08-25,52.532532,54.054054,51.991993,53.053055,53.053055,9188602
5,2004-08-26,52.527527,54.029030,52.382381,54.009010,54.009010,7094898
6,2004-08-27,54.104103,54.364365,52.897900,53.128128,53.128128,6211782
7,2004-08-30,52.692692,52.797798,51.056057,51.056057,51.056057,5196798
8,2004-08-31,51.201202,51.906906,51.131130,51.236237,51.236237,4917877
9,2004-09-01,51.401402,51.536537,49.884884,50.175175,50.175175,9138253
10,2004-09-02,49.644646,51.236237,49.519520,50.805805,50.805805,15118666

In [10]:
len(df)

4431

In [11]:
10/4431

0.0022568269013766643

In [17]:
int(math.ceil(0.0022568269013766643*len(df)))

10

In [18]:
df['Hl_pct']=(df["High"]-df["Low"])/df["Low"] *100.0

In [20]:
df["OC_pct"]=(df["Close"]-df["Open"])/df["Open"] *100.0

In [22]:
df.drop(columns=["Open","High","Low","Close"],inplace=True)

In [31]:
forecast_out=int(math.ceil(0.01*len(df)))

In [33]:
forecast_out

45

In [25]:
df.columns

Index(['Date', 'Adj Close', 'Volume', 'Hl_pct', 'OC_pct'], dtype='object')

In [26]:
forecast_col="Adj Close"

In [34]:
df["label"]=df[forecast_col].shift(-forecast_out)

## taking past 45 days data predict the next day data 
`

In [37]:
df.head()

         Date  Adj Close    Volume    Hl_pct    OC_pct      label
0  2004-08-19  50.220219  44659096  8.441017  0.340000  86.301300
1  2004-08-20  54.209209  22834343  8.537317  7.227004  93.793793
2  2004-08-23  54.754753  18256126  4.062364 -1.218966  90.990990
3  2004-08-24  52.487488  15247337  7.753212 -5.726354  93.078079
4  2004-08-25  53.053055   9188602  3.966113  0.990858  96.746750

In [38]:
df_clean=df.drop()

In [66]:
df_clean.set_index("Date",inplace=True)

In [67]:
x=df_clean.drop(columns="label",axis=1)

In [68]:
df_clean.head()

            Adj Close    Volume    Hl_pct    OC_pct      label
Date
2004-08-19  50.220219  44659096  8.441017  0.340000  86.301300
2004-08-20  54.209209  22834343  8.537317  7.227004  93.793793
2004-08-23  54.754753  18256126  4.062364 -1.218966  90.990990
2004-08-24  52.487488  15247337  7.753212 -5.726354  93.078079
2004-08-25  53.053055   9188602  3.966113  0.990858  96.746750

In [69]:
y=df_clean["label"]

In [70]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [71]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(3508, 4)
(878, 4)
(3508,)
(878,)

## need to scale the data using Standard Scaler

In [72]:
sc=StandardScaler()

In [73]:
x_train_sc=sc.fit_transform(x_train)
x_test_sc=sc.fit_transform(x_test)

In [74]:
lr=LinearRegression()

In [127]:
x_train.columns

Index(['Adj Close', 'Volume', 'Hl_pct', 'OC_pct'], dtype='object')

In [128]:
x_train_sc=pd.DataFrame(x_train_sc,columns=['Adj Close', 'Volume', 'Hl_pct', 'OC_pct'])
x_test_sc=pd.DataFrame(x_test_sc,columns=['Adj Close', 'Volume', 'Hl_pct', 'OC_pct'])

In [129]:
lr.fit(x_train,y_train)

LinearRegression()

In [130]:
lr.score(x_test,y_test)

0.9805741407486803

In [135]:
lr.predict([x_test.iloc[0,:]])

C:\Users\cchap\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([717.13296293])

## model evaluation 
### mean square error 
### root mean square error
#### required libraries in sklear.metrices import mean square

In [137]:
mean=mean_squared_error(y_test,y_predict)
rootmean=np.sqrt(mean)

In [138]:
print(mean,rootmean)

7243.637526174308 85.10956189626584

## using polynomial regression

In [139]:
from sklearn.preprocessing import PolynomialFeatures

In [190]:
pf=PolynomialFeatures(degree=2)

In [191]:
x_train_poly=pf.fit_transform(x_train)
x_test_poly=pf.fit_transform(x_test)

In [192]:
x_train_poly.shape

(3508, 15)

In [193]:
lr.fit(x_train_poly,y_train)

LinearRegression()

In [194]:
lr.score(x_test_poly,y_test)

0.9808678686916936